<table>
  <tr>
    <th>Id</th>
    <th>Post Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Body</th>
  </tr>

  <tr *ngFor="let comm of listComments">
    <td>{{comm.id}}</td>
    <td>{{comm.postId}}</td>
    <td>{{comm.name}}</td>
    <td>{{comm.email}}</td>
    <td>{{comm.body}}</td>

  </tr>
</table>

<hr>

<h2>using params</h2>
<table>
  <tr>
    <th>Id</th>
    <th>PostId</th>
    <th>Name</th>
    <th>Email</th>
    <th>Body</th>
  </tr>

  <tr *ngFor="let post of listPost">
    <td>{{post.id}}</td>
    <td>{{post.postId}}</td>
    <td>{{post.name}}</td>
    <td>{{post.email}}</td>
    <td>{{post.body}}</td>
  </tr>
</table>
<hr>
<h5>POST DATA RETURNED</h5>
<p>id: {{listOpost?.id}}</p>
<p>postId: {{listOpost?.postId}}</p>
<p>Title: {{listOpost?.title}}</p>
<p>Body: {{listOpost?.body}}</p>

<hr>

<h5>PUT DATA RETURNED </h5>

  <p>id:{{objPuts.id}}</p>
  <p>userId:{{objPuts.userId}}</p>
  <p>Title:{{objPuts.title}}</p>
  <p>Body: {{objPuts.body}}</p>


<hr>
<h5>PATCH DATA RETURNED</h5>
<p>id: {{objPatch.id}}</p>
<p>userId: {{objPatch.userId}}</p>
<p>Title: {{objPatch.title}}</p>
<p>Body: {{objPatch.body}}</p>