<table>
  <tr>
    <th>Id</th>
    <th>Post Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Body</th>
  </tr>

  <tr *ngFor="let comm of listComments">
    <td>{{comm.id}}</td>
    <td>{{comm.postId}}</td>
    <td>{{comm.name}}</td>
    <td>{{comm.email}}</td>
    <td>{{comm.body}}</td>

  </tr>
</table>

<h2>using params</h2>
<table>
  <tr>
    <th>Id</th>
    <th>PostId</th>
    <th>Name</th>
    <th>Email</th>
    <th>Body</th>
  </tr>

  <tr *ngFor="let post of listPost">
    <td>{{post.id}}</td>
    <td>{{post.postId}}</td>
    <td>{{post.name}}</td>
    <td>{{post.email}}</td>
    <td>{{post.body}}</td>
  </tr>
</table>
<hr>
<h5>Post data returned </h5>
<p>id: {{listOpost?.id}}</p>
<p>postId: {{listOpost?.postId}}</p>
<p>Title: {{listOpost?.title}}</p>
<p>Body: {{listOpost?.body}}</p>

<h5>PUT </h5>

<table>
  <tr>
    <th>Id</th>
    <th>UserId</th>
    <th>Name</th>
    <th>Email</th>
    <th>Body</th>
  </tr>

  <td>{{objPuts.id}}</td>
  <td>{{objPuts.userId}}</td>
  <td>{{objPuts.name}}</td>
  <td>{{objPuts.email}}</td>
  <td>{{objPuts.body}}</td>
</table>
